
<div class="main-content">
    <p>
        Elemental CodeWorks is a single-employee Canadian Controlled Private Corporation based in Fredericton, New Brunswick, Canada that has provided digital experience consulting since 2004. I enjoy working on interesting projects, and engage with clients who share my interests and goals to create digital experiences that are accessible, usable, and delightful.
    </p>
    <p>
        Elemental CodeWorks is owned and operated by <a href="https://jacobsanford.com">Jacob Sanford</a>, who has over 20 years of experience in digital experience creation, project management, and web application development.
    </p>
    <p>
        I have worked with a wide variety of community organizations and mid-large size corporations in Canada and the United States, including: <a href="https://www.sysco.ca">Sysco Food Service</a>, <a href="https://www.acquia.com">Acquia</a>, <a href="https://dayross.com/">Day and Ross</a>, <a href="https://preferences.deloitte.ca/bluespurs">BlueSpurs Consulting</a> (Now Deloitte), <a href="https://www.indiana.edu">Indiana University</a>, <a href="https://www.speakingplace.org">Speaking Place</a>.
    </p>
    <p>
        To inquire about my availability for your project, please leave a message at (506) 476-3329 or <a href="mailto:jake@elementalcodeworks.com">email me</a>.
    </p>
</div>
